<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.server.mapper.MarkUserPlatformQuotaMapper">

    <resultMap type="MarkUserPlatformQuota" id="MarkUserPlatformQuotaResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="platformCode" column="platform_code"/>
        <result property="platformName" column="platform_name"/>
        <result property="remainCount" column="remain_count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMarkUserPlatformQuotaVo">
        select
            muq.id,
            muq.user_id,
            muq.platform_code,
            muq.platform_name,
            muq.remain_count,
            muq.create_by,
            muq.create_time,
            muq.update_by,
            muq.update_time,
            muq.remark
        from mark_user_platform_quota muq
    </sql>

    <select id="selectByUserId" resultMap="MarkUserPlatformQuotaResult">
        <include refid="selectMarkUserPlatformQuotaVo"/>
        where muq.user_id = #{userId}
        order by muq.id asc
    </select>

    <select id="selectByUserAndPlatform" resultMap="MarkUserPlatformQuotaResult">
        <include refid="selectMarkUserPlatformQuotaVo"/>
        where muq.user_id = #{userId}
          and muq.platform_code = #{platformCode}
        limit 1
    </select>

    <select id="selectByUserAndPlatformForUpdate" resultMap="MarkUserPlatformQuotaResult">
        <include refid="selectMarkUserPlatformQuotaVo"/>
        where muq.user_id = #{userId}
          and muq.platform_code = #{platformCode}
        limit 1
        for update
    </select>

    <insert id="insertMarkUserPlatformQuota" parameterType="MarkUserPlatformQuota" useGeneratedKeys="true" keyProperty="id">
        insert into mark_user_platform_quota
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="platformCode != null and platformCode != ''">platform_code,</if>
            <if test="platformName != null and platformName != ''">platform_name,</if>
            <if test="remainCount != null">remain_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="platformCode != null and platformCode != ''">#{platformCode},</if>
            <if test="platformName != null and platformName != ''">#{platformName},</if>
            <if test="remainCount != null">#{remainCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMarkUserPlatformQuota" parameterType="MarkUserPlatformQuota">
        update mark_user_platform_quota
        <trim prefix="set" suffixOverrides=",">
            <if test="platformName != null">platform_name = #{platformName},</if>
            <if test="remainCount != null">remain_count = #{remainCount},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>
